@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}

.projects{
    grid-row:17/-1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 10vh);
    grid-gap: 3vw;
    width:95vw;
    margin-right: 5vw;
    margin-left: 1.5vw;
    justify-self: center;
}

.projectsTitle{ 
    grid-row-start: 1; 
    grid-column:2;
    align-self: end;
    justify-self: center;
    font-family:'Courier Prime', monospace;
}

.projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 25vh 15vh 15vh;
    width: 100%;
    height: 100%;
    border: 1px solid var(--textColor);
    border-radius: 3rem;
}
.project-img{
    grid-row: 1/2;
    grid-column: 1/-1;
    border-radius: 2rem;
    width: 90%;
    height: 90%; 
    justify-self: center;
    align-self: end;
}
.projectContainer h2{
    grid-column: 1/-1; 
    justify-self: center;
    text-align: center;
    grid-row:2;
    font-family: 'Courier Prime', monospace;
    color: var(--textColor); 
}
#gitRepo{ 
    grid-row:2;
    grid-column: 1/-1; 
    align-self: end;
    justify-self: center;
}
#liveDemo{ 
    grid-row:3;
    grid-column: 1/-1; 
    align-self: start;
    justify-self: center;
}
#project1{ 
    grid-column: 1;
    grid-row:2/6;
    justify-self: center !important;
} 
#project2{ 
    grid-column: 2;
    grid-row:2/6; 
    justify-self: center !important;
}
@media (min-width: 1536px) {
    .projectsTitle{ 
        font-size: 3rem;
    }
    .projectContainer h2{ 
        font-size: 1.75rem;
    }
}

@media (max-width: 1536px) {
    .projectsTitle{ 
        font-size: 3rem;
    }
    .projectContainer h2{ 
        font-size: 1.5rem;
    }
    .buttonContainer button{ 
        font-size: 1.25rem;
    }
}
@media (max-width:1505px) {
    .project-img{
        grid-row: 1/3;
        align-self: center;

    }
    .projectContainer h2{ 
        font-size: 1.5rem;
        grid-row: 2/4;
        align-self: center;
    }
    #liveDemo{ 
        grid-row:3/4;
        align-self: end;
    }
    #gitRepo{
        grid-row:3;
        align-self: center;
    }
}
@media (max-width: 1280px) {
    .abouttextContainer{ 
        font-size:1.10rem;
    }
    .projectsTitle{  
        font-size:3rem;
    }
    .buttonContainer button{ 
        font-size: 1.25rem;
    }
}
@media (max-width: 1024px) {  
    .projectsTitle{  
        font-size:2rem;
    } 
    #project1{ 
        grid-column:1/-1;
        grid-row:2/6; 
        width: 40%;
    }
    #project2{ 
        grid-column:1/-1;
        grid-row:6/10; 
        width: 40%;
    }
  }
  
  @media (max-width: 875px) {

  }
  
  @media (max-width: 800px) {
  }