@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
:root{ 
    --font: 'Courier Prime', monospace;
}
.numberContainer{ 
    display: grid; 
    grid-template-columns: 1.25rem; 
    grid-auto-rows: 1fr;
    width: 50px;
    height:100%;
    border-right: 2.5px solid #715B63; 
    justify-items: center; 
    align-items: end;
    .number{
        justify-self: center;
        font-family: var(--font);
        color:#715B63; 
        font-weight: bold;
        font-size: 1.45rem; 
        width: 100%;
        transform: translate(8px, 60px);
        grid-column: 1/2;
    }
}