@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}

.profile{
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    width: 97vw;
}
.textContainer{
    grid-column-start:2;
    grid-row:1/-1;
    font-family: 'Courier Prime', monospace;
    color: var(--textColor);
    align-self:start; 
    justify-self: center;
}
.pictureContainer{
    justify-self: center;
    background-color:transparent !important;
    animation: bounce2 2s ease infinite;
}
.panda{ 
    background-color:transparent !important;
}
.socialsContainer{
    width: 9vw;
    height: 9vh;
    grid-column-start: 2;
    grid-row-start:4;  
    background-color:transparent !important;
    display:flex;
    justify-content: center;
    justify-self: end;
    align-self: end;
}
.icon {
    cursor: pointer;
    height: 2rem; 
    background-color:transparent !important;
  }
a{ 
    background-color:transparent !important; 
}
.buttonContainer{
    grid-column-start: 2;
    grid-row-start:4;
    justify-self: start; 
    align-self: end; 
    padding-bottom: 1.75vh;
}
.btn{ 
    font-family: 'Courier Prime', monospace;
    border-radius: 1.2rem;
    color: #ffff;
    background-color: #0C090A;
    transition: all 300ms ease;
}
.btn:hover{ 
    color: #0C090A;
    background-color: #ffff;
}
.textContainer p,
.textContainer h1,
.textContainer h2{ 
    text-align: center;
}

.textContainer h2{ 
    color: #494F55;
}

@media (min-width: 1536px) {
    .btn{ 
        font-size: 1.2rem;
    }
    .panda{ 
        transform: translateY(-5vh);
    }
}

@media (max-width: 1536px) {
    .btn{ 
        font-size: 1.2rem;
    }
    .panda{ 
        transform: translateY(-5vh);
    }
}
  
@media (max-width: 1280px) {
    .btn{ 
        font-size: 1rem;
    }
    .panda{ 
        transform: translateY(-5vh);
    }
}
@media (max-width: 1024px) {
    .textContainer{
        grid-column: 2/-1;
    }
    .textContainer p{
        font-size: 1rem;
    }

    .textContainer h2{ 
        font-size: 1.25rem;
    }
    .textContainer h1{ 
        font-size: 1.35;
    }
    .socialsContainer{
        grid-column: 2/-1;
        grid-row:5/-1; 
        display: flex;
        align-self: flex-end;
        justify-self: center;
        padding-bottom: 4vh;
    }
    .buttonContainer{
        align-self:end;
        justify-self: center;
        grid-column: 2/-1;
        grid-row:4/5; 
    }
  }
  
  @media (max-width: 875px) {
    .textContainer{
        grid-column: 2/-1;
    }
    .textContainer p{
        font-size: 1rem;
    }

    .textContainer h2{ 
        font-size: 1.25rem;
    }
    .textContainer h1{ 
        font-size: 1.35;
    }
    .socialsContainer{
        grid-column: 2/-1;
        grid-row:5/-1; 
        display: flex;
        align-self: flex-end;
        justify-self: center;
        padding-bottom: 4vh;
    }
    .buttonContainer{
        align-self:end;
        justify-self: center;
        grid-column: 2/-1;
        grid-row:4/5; 
    }
  }
  
  @media (max-width: 760px) {
    .panda{ 
        transform: scale(.75);
    }
  }  

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}