*{ 
    background-color:#ffff;
    -webkit-scrollbar{
        display: none;
    }
    
} 
html {
	scroll-behavior: smooth;
}
.app{ 
    width: 90vw;
    display: grid; 
    grid-template-rows: repeat(20,20vh);
    grid-auto-rows: 20vh;
    overflow-y: hidden;
    overflow-x: hidden; 
}
