@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}

.skills{
    grid-row: 9/16;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13,10vh);
    grid-gap: 10px;
   
    width:95vw;
    margin-right: 5vw;
    margin-left: 1.5vw;
    justify-self: center;
}
.skillsTitle{ 
    grid-row-start: 1; 
    grid-column:1/-1;
    align-self: end;
    justify-self: center;
    font-family:'Courier Prime', monospace;
}
.technicalTitle{ 
    grid-row-start:1; 
    grid-column:1/-1;
    font-family:'Courier Prime', monospace;
    color: var(--textColor);
    justify-self: center;
}
#frontEndSkills{ 
    grid-row:2;
}
#backEndSkills{
    grid-row: 6;
}
#softSkills{
    grid-row: 10;
}
.skillsContainer{ 
    border: 1px solid black;
    border-radius: 2.5rem;
    grid-column: 1/-1;
    justify-self: center;
    align-self: start;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh repeat(2,15vh);
    justify-items: center;
    align-content: space-around;
}

.skill{
    font-family:'Courier Prime', monospace;
    color: var(--textColor);
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    background: transparent !important;
}
/**************************************************************************/
@media (min-width: 1536px) {
    .skillsTitle{ 
        font-size: 3rem;    
    }
    .technicalTitle{
        font-size: 1.75rem;
    }
    .skill{ 
        font-size: 1.25rem;
    }
}

@media (max-width: 1536px) {
    .skillsTitle{ 
        font-size: 3rem;    
    }
    .technicalTitle{
        font-size: 1.75rem;
    }
    .skill{ 
        font-size: 1.25rem;
    }
}
@media (max-width: 1220px){
    .skillsTitle{ 
        font-size: 3rem;    
    }
    .technicalTitle{
        font-size: 1.5rem;
    }
    .skill{ 
        font-size: 1rem;
    }
}

@media (max-width: 1024px){
    .skillsTitle{ 
        font-size: 2rem;    
    }
}
@media (max-width: 922px){
    .technicalTitle{
        font-size: 1.25rem;
    }
    .skill{ 
        font-size: .75rem;
    }
}  

  
  