@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}
.mainNavBar{ 
    position:sticky;
    height: 6vh;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    align-items:top;
    margin-bottom: 25px;

}
.name{
    width: 100%;
    font-family: 'Courier Prime', monospace; 
    color: var(--textColor);
}
a{ 
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
} 
.navLinks{ 
    display: flex; 
    justify-content: space-around;
    align-items: end;
    list-style-type: none !important;
    font-family: 'Courier Prime', monospace;
}
@media (min-width: 1536px) {
}

@media (max-width: 1536px) {

}
  
@media (max-width: 1280px) {

}
  
@media (max-width: 1024px) {

}
  
@media (max-width: 768px) {

}
  
@media (max-width: 640px) {

}
  
@media (max-width: 475px) {

}