@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}
.mainNavBar{
    grid-row-start: 1;
    position:sticky;
    height: 20vh;
    width: 98vw;
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    align-items:top;

}
.logo{
    width: fit-content; 
    justify-content: center;
    align-items: center;
}
a{ 
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
}
a:hover {
    color: #7E191B;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }
.navLinks{
    display: flex; 
    padding-top: 5vh;
    justify-content: space-evenly;
    list-style-type: none !important;
    font-family: 'Courier Prime', monospace;
}

@media (min-width: 1536px) {
    .navLinks{ 
        font-size: 1.25rem;
    }
}

@media (max-width: 1536px) {
    .navLinks{ 
        font-size: 1.25rem;
    }
}
  
@media (max-width: 1280px) {
    .navLinks{ 
        font-size: 1rem;
    }
}
  


  
