@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');   
:root{ 
    --textColor : #151922;
}

.aboutme{
    grid-row: 5/8;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    grid-gap: 10px;;
    width:95vw;
    margin-right: 5vw;
    margin-left: 1.5vw;
    justify-self: center;
    
}
.title{
    grid-row-start: 1; 
    grid-column:3/5;
    align-self: end;
    justify-self: center;
    font-family:'Courier Prime', monospace;
}
.bitmojiContainer{
    grid-column: 1/3;
    grid-row: 2/5;
    height: 50vh;
    width: 28vw;
    margin: auto 0;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;

    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgb(181, 181, 181);
    background-image: linear-gradient(135deg, #D7E1EC 0%, #FFFFFF 80%);
}
.bitmoji{
    z-index: 1;
    align-self: end;
    justify-self: center;
    width: fit-content;
    background: transparent !important;
}
.abouttextContainer{ 
    margin-left: 5vw;
    grid-row: 2/-1;
    grid-column:3/5;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 2rem;
    align-self: center;
    justify-self:center;
    border: 1px solid #151922; 
    box-shadow: 10px 5px 5px rgb(181, 181, 181);
    font-family:'Courier Prime', monospace;
}

@media (min-width: 1536px) {
    .abouttextContainer{ 
        font-size:1.25rem;
    }
    .title{ 
        font-size:3rem;
        padding-right: 20vw;
        padding-bottom: 5vh;
    }
    .bitmojiContainer{ 
        height: 55vh;
        grid-row:1/-1;
        align-self: start;
    }
}

@media (max-width: 1536px) {
    .abouttextContainer{ 
        font-size:1.25rem;
    }
    .title{ 
        font-size:3rem;
        grid-column: 2/5;
        justify-self: center;
        padding-bottom: 3vh;
    }
    .bitmoji{
        transform: scale(.85);
    }
}
  
@media (max-width: 1280px) {
    .abouttextContainer{ 
        font-size:1.10rem;
        
    }
    .title{ 
        font-size:3rem;
        grid-column: 2/5;
        justify-self: center;
    }
    .bitmojiContainer{ 
        width: 34vw;
    }
}
@media (max-width: 1024px) {    
    .bitmoji{ 
        grid-column: 4/-1;
        transform: scale(.8);
    }
    .title{ 
        font-size:2rem;
        grid-column: 3;
        justify-self: center;
        padding-bottom: 3vh;
    }
    .abouttextContainer{
        font-size: 1rem;
    }
  }
  
  @media (max-width: 875px) {
    .bitmojiContainer{ 
        visibility: hidden;
    }
    .abouttextContainer{ 
        font-size:1rem;
        grid-column:2/5 !important;
        grid-row: 2/-1 !important;
        margin-right: 5vw;
        align-self: start;
    }
    .title{
        grid-column: 2/4 !important;
        justify-self: end !important;
    }
  }
  
  @media (max-width: 800px) {
    .abouttextContainer{
        font-size: 1rem;
        grid-column: 1/-1;
        grid-row: 2/5;
        justify-self: start;
        margin-right: 10vw ;
    }
    .bitmoji{
        opacity: 0;
    }
    .title{ 
        justify-self: start;
        grid-column: 5/-1;
    }
  }
